@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* -------------------------------------------------------------------Variables */

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --bottom-clr: hsl(215, 27%, 12%);

    --white-opacity: hsla(0, 0%, 100%, 0.1);
}

/* -------------------------------------------------------------------Defaults */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Overpass, sans-serif;
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    background-color: var(--very-dark-blue);
}

/* -------------------------------------------------------------------Main Containers */

.wrapper {
    width: 500px;
    user-select: none;
}

.wrapper__inner {
    border-radius: 2.2em;
    height: 500px;
    padding: 2.4rem;

    background-image: radial-gradient(circle at 50% 0, var(--dark-blue), var(--bottom-clr));
}

.wrapper__inner_face {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper__inner_back {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3.3rem 2.2rem;
}

/* -------------------------------------------------------------------Face Container Items */

.face__icon {
    display: grid;
    place-content: center;
    height: 57px;
    width: 57px;
    border-radius: 50%;
    pointer-events: none;

    background-color: var(--dark-blue);
}

.face__desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.face__desc_header {
    font-size: 2.1rem;

    color: var(--white);
}

.face__desc_text {
    font-size: 1.1rem;
    line-height: 1.8rem;
    letter-spacing: .3px;

    color: var(--light-grey);
}

.face__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.face__vote-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.face__radio {
    appearance: none;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: var(--dark-blue);
    position: relative;
    cursor: pointer;

    transition: background-color 200ms, color 200ms;
}

.face__radio:hover {
    background-color: var(--orange);
}

.face__radio:checked {
    background-color: var(--medium-grey);
}

.face__radio::before {
    content: "1";
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -45%);
    font-size: 1.2rem;
    pointer-events: none;
    
    color: var(--light-grey);
    
    transition: color 200ms;
}

.face__radio:nth-of-type(2)::before { content: "2"; }
.face__radio:nth-of-type(3)::before { content: "3"; }
.face__radio:nth-of-type(4)::before { content: "4"; }
.face__radio:nth-of-type(5)::before { content: "5"; }

.face__radio:checked::before,
.face__radio:hover::before {
    color: var(--white);
}

.face__label {
    display: none;
}

.face__submit {
    all: unset;
    width: 100%;
    display: grid;
    place-content: center;
    padding: 1.1rem 0 .9rem;
    border-radius: 10rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 1.1rem;

    color: var(--white);
    background-color: var(--orange);

    transition: color 200ms, background-color 200ms;
}

.face__submit:hover {
    color: var(--orange);
    background-color: var(--white);
}

/* -------------------------------------------------------------------Back Container Items */

.back__icon {
    pointer-events: none;
}

.back__user-selected {
    padding: .5rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 10rem;

    background-color: var(--dark-blue);
    color: var(--orange);
}

.back__appreciate {
    font-size: 2.1rem;

    color: var(--white);
}

.back__desc {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.9rem;
    margin-top: -20px;

    color: var(--light-grey);
}

/* -------------------------------------------------------------------Media */

@media screen and (max-width: 600px) {
    .wrapper {
        width: min(500px, 90%);
    }

    .wrapper__inner {
        border-radius: 1.5rem;
    }

    .face__radio {
        width: 55px;
        height: 55px;
    }
}

@media screen and (max-width: 400px) {
    .face__radio {
        width: 40px;
        height: 40px;
    }

    .wrapper__inner {
        height: fit-content;
    }
}

/* -------------------------------------------------------------------Author */

.attribution {
    font-size: 11px;
    text-align: center;
    color: gray;
}

.attribution__link {
    transition: color 100ms;
    color: gray;
}

.attribution__link:hover {
    color: var(--white);
}
