@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* -------------------------------------------------------------------Variables */

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --bottom-clr: hsl(215, 27%, 12%);
}

/* -------------------------------------------------------------------Default */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
}

.body {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--very-dark-blue);

    user-select: none;
}

/* -------------------------------------------------------------------Main Containers */

.main {
    width: 412px;
    height: 415px;
    margin: 3rem 1.5rem 3rem;

    background-image: radial-gradient(circle at 50% 0, var(--dark-blue), var(--bottom-clr));
    border-radius: 2rem;
}

.wrapper {
    gap: 2rem;
    flex-direction: column;
    max-height: 100%;
}

.wrapper-face {
    display: flex;
    padding: 2rem;
}

.wrapper-face--deactivated {
    pointer-events: none;
    animation: hideFace 500ms;
}

@keyframes hideFace {
    100% {
        opacity: 0;
    }
}

.wrapper-back {
    display: none;
    align-items: center;
    padding: 2.75rem 2.5rem;

    opacity: 0;
}

.wrapper-back--activated {
    animation: showBack 500ms forwards;
}

@keyframes showBack {
    100% {
        opacity: 1;
    }
}

/* -------------------------------------------------------------------Face Card */

.wrapper-face__img-wrapper {
    display: grid;
    place-content: center;
    height: 49px;
    width: 49px;
    
    border-radius: 50%;
    background-color: var(--dark-blue);

    pointer-events: none;
}

.wrapper-face__desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block-end: -.35rem;
}

.wrapper-face__desc-header {
    font-size: 1.725rem;

    color: var(--white);
}

.wrapper-face__desc-text {
    font-size: .940rem;
    line-height: 1.5rem;

    color: var(--light-grey);
}

.wrapper-face__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.wrapper-face__form-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-face__form-label {
    display: grid;
    justify-items: center;
    align-content: center;
    padding-top: 3px;
    width: 50px;
    aspect-ratio: 1;
    
    border-radius: 50%;
    background-color: var(--dark-blue);
    color: var(--medium-grey);

    cursor: pointer;
    transition: background-color 200ms, color 200ms;
}

.wrapper-face__form-input {
    appearance: none;
}

.wrapper-face__form-label:hover {
    background-color: var(--orange);
    color: var(--white);
}

.wrapper-face__form-label:has(.wrapper-face__form-input:checked) {
    background-color: var(--medium-grey);
    color: var(--white);
}

/* -------------------------------------------------------------------Submit Button */

.wrapper-face__form-submit {
    border: none;
    width: 100%;
    padding: .9rem 0 .65rem;

    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .95rem;
    
    border-radius: 10rem;
    color: var(--white);
    background-color: var(--orange);
    
    cursor: pointer;
    transition: color 200ms, background-color 200ms;
}

.wrapper-face__form-submit:disabled {
    background-color: var(--dark-blue);
    color: var(--light-grey);

    cursor: default;
    pointer-events: none;
}

.wrapper-face__form-submit:not(:disabled):hover {
    color: var(--orange);
    background-color: var(--white);
}

/* -------------------------------------------------------------------Back Card */

.wrapper-back__img-wrapper {
    pointer-events: none;
}

.wrapper-back__selected {
    padding: .6rem 1.3rem .43rem;

    font-size: .9rem;
    letter-spacing: .5px;
    
    border-radius: 10rem;
    background-color: var(--dark-blue);
    color: var(--orange);
}

.wrapper-back__header {
    margin-block-end: -1.25rem;
    font-size: 1.7rem;

    color: var(--white);
}

.wrapper-back__desc {
    font-size: .925rem;
    text-align: center;
    line-height: 1.5rem;

    color: var(--light-grey);
}

/* -------------------------------------------------------------------Footer */

.attribution {
    position: absolute;
    inset: auto 0 0 0;
    padding: 1em;
    
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    
    color: var(--white);
    background-color: var(--dark-blue);
    
    cursor: default;
}

.attribution__link {
    font-weight: 700;
    text-decoration: none;
    
    color: var(--white);
    
    transition: color 100ms;
}

.attribution__link:hover {
    color: var(--orange);
}

/* -------------------------------------------------------------------Media Queries */

@media screen and (max-width: 500px) {
    .attribution {
        display: flex;
        flex-direction: column;
        gap: .25rem;

        font-size: .9rem;      
    }

    .main {
        border-radius: 1rem;
        height: 355px;
    }

    .wrapper-face {
        padding: 1.5rem 1.5rem 1rem;
        gap: 1rem;
    }

    .wrapper-face__img-wrapper {
        width: 40px;
        height: 40px;
    }

    .wrapper-face__img {
        width: 14px;
        height: 14px;
    }

    .wrapper-face__desc-header {
        font-size: 1.5rem;
    }

    .wrapper-face__desc-text {
        font-size: .85rem;
        line-height: 1.6;
        margin-block-end: 1rem;
    }

    .wrapper-face__form {
        gap: 1.5rem;
    }

    .wrapper-face__form-label {
        width: 45px;
    }

    .wrapper-face__form-submit {
        font-size: .85rem;
    }

    .wrapper-back {
        padding: 2rem 1.35rem 2rem;
        gap: 1.25rem;
    }

    .wrapper-back__img {
        width: 150px;
    }

    .wrapper-back__selected {
        padding: .5rem .75rem .4rem;
    }

    .wrapper-back__header {
        font-size: 1.5rem;
        margin-block: .4rem -.5rem;
    }

    .wrapper-back__desc {
        font-size: .875rem;
        line-height: 1.5;
    }
}