@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* -------------------------------------------------------------------Variables */

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --bottom-clr: hsl(215, 27%, 12%);

    --attr-clr: hsl(0, 0%, 80%);
}

/* -------------------------------------------------------------------Defaults */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Overpass, sans-serif;
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    background-color: var(--very-dark-blue);
}

/* -------------------------------------------------------------------Main Containers */

.wrapper {
    width: 500px;
    user-select: none;
}

.wrapper__inner {
    border-radius: 2.2em;
    height: 500px;
    padding: 2.4rem;

    background-image: radial-gradient(circle at 50% 0, var(--dark-blue), var(--bottom-clr));
}

.wrapper__inner_face {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper__inner_back {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3.2rem 2.2rem;
}

/* -------------------------------------------------------------------Face Container Items */

.face__icon {
    display: grid;
    place-content: center;
    height: 57px;
    width: 57px;
    border-radius: 50%;
    pointer-events: none;

    background-color: var(--dark-blue);
}

.face__desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.face__desc_header {
    font-size: 2.1rem;

    color: var(--white);
}

.face__desc_text {
    font-size: 1.1rem;
    line-height: 1.8rem;
    letter-spacing: .3px;

    color: var(--light-grey);
}

.face__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.face__row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.face__radio {
    appearance: none;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: var(--dark-blue);
    position: relative;
    cursor: pointer;

    transition: background-color 200ms, color 200ms;
}

.face__radio:hover {
    background-color: var(--orange);
}

.face__radio:checked {
    background-color: var(--medium-grey);
}

.face__radio::before {
    content: "1";
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -45%);
    font-size: 1.2rem;
    pointer-events: none;
    
    color: var(--light-grey);
    
    transition: color 200ms;
}

.face__radio:nth-of-type(2)::before { content: "2"; }
.face__radio:nth-of-type(3)::before { content: "3"; }
.face__radio:nth-of-type(4)::before { content: "4"; }
.face__radio:nth-of-type(5)::before { content: "5"; }

.face__radio:checked::before,
.face__radio:hover::before {
    color: var(--white);
}

.face__label {
    display: none;
}

.face__submit {
    all: unset;
    width: 100%;
    display: grid;
    place-content: center;
    padding: 1.1rem 0 .9rem;
    border-radius: 10rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.1rem;

    color: var(--white);
    background-color: var(--orange);

    transition: color 200ms, background-color 200ms;
}

.face__submit:hover {
    color: var(--orange);
    background-color: var(--white);
}

/* -------------------------------------------------------------------Back Container Items */

.back__icon {
    pointer-events: none;
}

.back__user-selected {
    padding: .6rem 1.3rem .43rem;
    font-size: 1rem;
    border-radius: 10rem;
    letter-spacing: 1.1px;

    background-color: var(--dark-blue);
    color: var(--orange);
}

.back__appreciate {
    font-size: 2.1rem;

    color: var(--white);
}

.back__desc {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.9rem;
    margin-top: -20px;

    color: var(--light-grey);
}

/* -------------------------------------------------------------------Media */

@media screen and (max-width: 600px) {
    .wrapper {
        width: min(500px, 90%);
    }
}

@media screen and (max-width: 500px) {
    .face__radio {
        width: 60px;
        height: 60px;
    }

    .face__icon {
        height: 45px;
        width: 45px;
    }

    .face__icon_inner {
        width: 15px;
        height: 15px;
    }

    .wrapper__inner {
        border-radius: 1.5rem;
        height: fit-content;
    }

    .wrapper__inner_back {
        gap: 30px;
    }

    .face__desc {
        margin-top: 1.5rem;
    }

    .face__desc_header {
        font-size: 1.625rem;
    }

    .face__desc_text {
        font-size: .875rem;
        line-height: 1.5;
        letter-spacing: .3px;
    }

    .face__form {
        margin-top: 2rem;
    }

    .back__appreciate {
        font-size: 1.5rem;
    }

    .back__desc {
        font-size: .9rem;
        line-height: initial;
    }

    .attribution {
        font-size: .6rem !important; 
    }
}

@media screen and (max-width: 450px) {
    .face__radio {
        width: 50px;
        height: 50px;
    }

    .wrapper__inner {
        padding: 1.5rem 1.5rem 2rem;
    }

    .face__form {
        gap: 30px;
    }
}

/* -------------------------------------------------------------------Author */

.attribution {
    position: absolute;
    inset: auto 0 1rem 0;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;

    color: var(--white);

    cursor: default;
}

.attribution__link {
    text-decoration: none;
    font-weight: 700;
    transition: color 200ms;

    color: var(--white);
}

.attribution__link:hover {
    color: var(--orange);
}
